* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono';
}

.bg-white {
    background-color: white;
}

.txt-white {
    color: white;
}

.txt-black {
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.txt-decor-none {
    text-decoration: none;
}

.flex {
    display: flex;
}

.font-600 {
    font-weight: 600;
}

.font-900 {
    font-weight: 900;
}

.bg-black {
    background-color: black;
}

.shadow{
    box-shadow: 3px 3px 4px rgb(181, 181, 181);
}

.margin-bottom-7vh {
    margin-bottom: 7vh;
}


/* Navigation */

.navigation {
    padding-left:5%;
    padding-right:5%;
    flex-basis: 90%;
    align-items: start;
    height: 6vh;
    align-items: center;
    position: relative;
}

.top_menu_left {
    width: 50%;
    font-size: 1.2em;
    
}

.top_menu_right {
    width: 50%;
}

.top_menu_right ul {
    justify-content: flex-end;
}

.top_menu_right ul li {
    list-style-type: none;
    padding-left:1.5%;
    padding-right:1.5%;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation i {
    font-size: 0.9em;
    font-weight: 900;
}

.dropdown-list ul{
    display: none;
    background-color: white;
    position: fixed;
}

.dropdown-list ul li {
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.dropdown-list ul li:last-child {
    padding-bottom: 8px;
}

#wrap {
    white-space: break-spaces;
}

.dropdown:hover .dropdown-list ul {
    display: block;
}

.right-bar {
    position:absolute;
    right: 5%;
    top: 25%;
    display: none;
}

@media (max-width:426px) {
    .top_menu_left {
        font-size: 0.9em;
    }

    .top_menu_right {
        display: none;
        font-family: "Font Awesome 5 Brands"; 
	    font-weight: 400;
	    content: "\f09a";
    }

.right-bar {
    display: block;
    font-size: 20px;
}

}


/* Section 1*/

.section1 {
    height: 94vh;
    background-color: rgb(246, 246, 246);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-weight: 900;
}

.section1 p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.section1 .button1 {
    background-color: rgb(48, 47, 47);
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
}

.section1 .button1:hover {
    background-color: black;
}

@media (max-width:426px) {
    .section1 {
        height: 60vh;
        padding-left: 25%;
        padding-right: 25%;
    }
}

/* Section 2*/

.section2{
    justify-content: center;
    gap: 3vh;
    padding: 10vh;
}
.box {
    display: flex;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    height: 20vh;
    flex-basis: 40vh;
    border-radius: 5%;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 4px rgb(181, 181, 181);
}

.section2 .box :nth-child(1) {
    font-size: 3em;
    padding-bottom: 10px;
}

.section2 .box :nth-child(2) {
    font-size: 0.9em;
}

.red{
    background-color: rgb(255, 84, 68);
}

.purple {
    background-color: rgb(170, 45, 182);
}

.cyan {
    background-color: rgb(30, 194, 164);
}

.blue {
    background-color: rgb(39, 139, 224);
}

@media (max-width:426px) {
    .section2 {
        display: block;
    }

    .box {
        margin-top: 15%;
        margin-right: auto;
        margin-left: auto;
        width: 85%;
    }
}


/* Section 3*/

.section3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(246, 246, 246);

}

.section3 h2 {
    font-size: 2em;
    font-weight: bold;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.section3 .buttons p:first-child {
    font-size: 1em;
    background-color: black;
    color: white;
    padding:5px 15px;
    box-shadow: 3px 3px 4px rgb(181, 181, 181);
    margin: 0px 8px;
}

.button2 {
    font-size: 1em;
    background-color: black;
    color: white;
    padding:5px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 3px 3px 4px rgb(181, 181, 181);
    margin: 10px 8px;
}

.button3 {
    font-size: 1em;
    color: black;
    padding:5px 15px;
    border: 0px;
    border-radius: 0px;
    box-shadow: 3px 3px 4px rgb(181, 181, 181);
    margin: 10px 8px;
}

.button2:hover,
.button3:hover {
    background-color: rgb(48, 47, 47);
    color: white;
}

.card-wrapper {
    padding: 10vh 10vw;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3%;

}

.card {
    width: 27%;
    flex-direction: column;
    margin-bottom: 5vh;
    box-shadow: 5px 5px 5px rgb(181, 181, 181);
}

.card:hover {
    border: 1px solid black;
}

.card p {
    background-color: white;
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

@media (max-width:426px) {

    .section3 .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section3 .card-wrapper {
        display: block;
    }

    .section3 .card-wrapper .card {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10%;
    }
}


/* Section 4*/

.section4 {
    align-items: center;
    flex-direction: column;
    padding: 10vh;
}

.section4 p:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 5vh;
}

.section4 p:nth-child(2) {
    padding-bottom: 5vh;
}

.section4 hr {
    width: 5%;
    color: rgb(246, 246, 246);
    margin-bottom: 5vh;
}

.section4 .list-wrapper {
    justify-content: space-between;
    width: 100%;
}

.section4 ul {
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    height: 33vh;
    text-align: start;
    width: 100%;
    flex-basis: 85%;
    margin: 0 auto;
}

.section4 ul li {
    padding: 15px;
    width: 33.33%;
    font-size: 1.2em;
}



@media (max-width:426px) {
    .section4 {
        padding-left: 5%;
        padding-right: 5%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .section4 ul {
        list-style: none;
        flex-wrap: wrap;
        flex-direction: column;
        height: 55vh;
        text-align: start;
        flex-basis: 95%;
        margin: 0 auto;
    }

    .section4 ul li {
        width: 50%;
        font-size: 0.9em;
    }
}

/* Section 5 */

.section5 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    color: white;
    padding: 7vh;
}

.section5 p {
    font-size: 1.2em;
    font-weight: bold;
}

.section5 .wrapper {

    align-items: center;
    width: 40%;
    justify-content: center;
    color: white;
}

.section5 .wrapper ul {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
}

.section5 .wrapper ul li {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.section5 .wrapper ul li i {
    font-size: 1.6em;
    color: white;
}


/* Section 6 */

.footer {
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
    background-color: black;
    color: white;
    font-size: 0.8em;
}

@media (max-width:426px) { 
    .footer {
        font-size: 0.6em;
    }
}