@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as var;
@use "sass:math";


.menu {
    width: 25%;
    position: fixed;
    top: 0;
    background-color: var.$background-color-base;
    color: var.$text-color-secondary;
    @extend %section;
    @extend %wrap;

    @include mix.tablet-styles {
        width: 100%;
    }

    .menu-inner {
        margin-left: var.$gutter-base*2;

        @include mix.tablet-styles {
            display: flex;
            justify-content: space-between;
            margin-left: 0;
        }
    }

    h1 {
        text-transform: uppercase;
        margin-bottom: var.$gutter-base*2;
        font-weight: var.$font-weight-normal;

        @include mix.tablet-styles {
            margin: 0;
            font-size: math.div(var.$gutter-base, 1.2);
        }

        @include mix.mobile-l-styles {
            margin: 0;
            font-size: math.div(var.$gutter-base, 1.5);
        }
    }

    ul {
        padding-left: 0;
        margin-bottom: var.$gutter-base*5;

        @include mix.tablet-styles {
            display: none
        }

        li {
            list-style-type: none;
            margin-bottom: math.div(var.$gutter-base, 2);
            font-weight: var.$font-weight-normal;
        }

    }

    .footer {
        font-size: math.div(var.$gutter-base, 2.5);
        font-weight: var.$font-weight-normal;

        @include mix.tablet-styles {
            display: none
        }
        
        p {
            margin: 0;
        }

      }

      .burger-menu {
        display: none;

        @include mix.tablet-styles {
            display: flex;
            border: 1px solid var.$text-color-secondary;
            border-radius: math.div(var.$gutter-base, 6);
            padding: math.div(var.$gutter-base, 6) math.div(var.$gutter-base, 4);
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: math.div(var.$gutter-base, 1.5);

            @include mix.mobile-l-styles {
                font-size: math.div(var.$gutter-base, 2);

            }
        }

      }

    a {
        text-decoration: none;
        color: var.$text-color-secondary;
    }

    a:hover {
        text-decoration: underline;
    }
      
}
